{{ if eq .chezmoi.os "linux" -}}

{{ $packages := list
     "tree"
     "build-essential"
     "procps"
     "curl"
     "unzip"
     "file"
     "git"
     "xdg-utils"
     "zsh"
     "fish" -}}
{{ $classicSnaps := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

{{ $sudo }} apt update && \
     {{ $sudo }} apt install -y software-properties-common && \
     {{ $sudo }} apt-add-repository -y ppa:fish-shell/release-3 && \
     {{ $sudo }} apt update && \
     {{ $sudo }} apt install -y {{ $packages | join " " }}

{{   if eq .chezmoi.osRelease.id "ubuntu" -}}

{{ $sudo }} apt update && \
     {{ $sudo }} apt install language-pack-ja
{{ $sudo }} update-locale LANG=ja_JP.UTF-8

{{   else if eq .chezmoi.osRelease.id "debian" -}}

{{ $sudo }} sed -i -E 's/# (ja_JP.UTF-8)/\1/' /etc/locale.gen
{{ $sudo }} locale-gen
{{ $sudo }} update-locale LANG=ja_JP.UTF-8

{{   end -}}

{{ $sudo }} apt autoremove

{{ end -}} 
