{{ if and (eq .chezmoi.os "linux") (contains .chezmoi.osRelease.idLike "debian") -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

#!/bin/bash

FILE=starship_install.sh

curl -sS https://starship.rs/install.sh -o /tmp/$FILE
chmod +x /tmp/$FILE
/tmp/$FILE -y

{{   end -}}
{{ end -}}