{{ if and (eq .chezmoi.os "linux") (not .wsl2) -}}

{{ $packages := list
     "fzf"
     "tmux"
     "bat"
     "exa"
     "fd-find" -}}
{{ $classicSnaps := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

{{ $sudo }} apt update && \
     {{ $sudo }} apt install -y {{ $packages | join " " }}

if [ ! -d $HOME/.local/bin ]; then
  mkdir -p $HOME/.local/bin
fi

# delta
if [ ! -e $HOME/.local/bin/delta ]; then
  curl -LO https://github.com/dandavison/delta/releases/download/{{ .deltaVersion }}/delta-{{ .deltaVersion }}-x86_64-unknown-linux-musl.tar.gz
  tar -zxvf delta-{{ .deltaVersion }}-x86_64-unknown-linux-musl.tar.gz
  mv delta-{{ .deltaVersion }}-x86_64-unknown-linux-musl/delta $HOME/.local/bin/
  rm -rf delta-{{ .deltaVersion }}-x86_64-unknown-linux-musl delta-{{ .deltaVersion }}-x86_64-unknown-linux-musl.tar.gz
fi

# neovim
if [ ! -e /usr/bin/nvim ]; then
  # Detect architecture
  ARCH=$(uname -m)
  case $ARCH in
    x86_64)
      NEOVIM_ARCH="x86_64"
      ;;
    aarch64|arm64)
      NEOVIM_ARCH="arm64"
      ;;
    *)
      echo "Unsupported architecture: $ARCH"
      exit 1
      ;;
  esac
  
  # Download and install Neovim
  NEOVIM_URL="https://github.com/neovim/neovim/releases/latest/download/nvim-linux-${NEOVIM_ARCH}.tar.gz"
  
  echo "Downloading Neovim ${NEOVIM_VERSION} for ${NEOVIM_ARCH}..."
  curl -LO "$NEOVIM_URL"
  tar -xzf "nvim-linux-${NEOVIM_ARCH}.tar.gz"
  
  # Install to system
  {{ $sudo }} mv nvim-linux-${NEOVIM_ARCH} /opt/nvim
  {{ $sudo }} ln -sf /opt/nvim/bin/nvim /usr/bin/nvim
  
  # Cleanup
  rm -f "nvim-linux-${NEOVIM_ARCH}.tar.gz"
  
  # Install packer.nvim plugin manager
  git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi

{{ end -}} 
