{{ if and (eq .chezmoi.os "linux") (contains .chezmoi.osRelease.idLike "debian") -}}
#!/bin/bash
if [ ! -d $HOME/.tmux/plugins/tpm ]; then
mkdir -p $HOME/.tmux/plugins
git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm
fi
{{ end -}} 
