{{- if .wsl2 }}
#!/bin/bash
sudo chmod +x /usr/share/doc/git/contrib/diff-highlight/diff-highlight
if [ ! -e /usr/local/bin/diff-highlight ]; then
  sudo ln -s /usr/share/doc/git/contrib/diff-highlight/diff-highlight /usr/local/bin/diff-highlight
fi
{{ end -}}
