{{- if .wsl2 }}
#!/bin/bash
curl -L https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip -o /tmp/win32yank-x64.zip
cd /tmp
unzip -u win32yank-x64.zip
mkdir -p ~/bin/
mv win32yank.exe ~/bin/
chmod +x ~/bin/win32yank.exe
{{ end -}}

