{{ if .wsl2 -}}
#!/bin/bash
WORKING_DIR={{ .chezmoi.workingTree }}

NONINTERACTIVE=1 /bin/bash -c "sudo $(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

if [ -e ${WORKING_DIR}/Brewfile ]; then
  HOMEBREW_BUNDLE_FILE=${WORKING_DIR}/Brewfile NONINTERACTIVE=1 brew bundle
fi
{{ end -}}
